/*
* landingPage.scss 
* 
* Dahlia Frontend - Andela Simulations Challenge ©️ 2019
* Andela Simulations Challenge ©️ 2019
* https://github.com/andela/dahlia-ah-frontend
*
* SCSS Designed by TeamDahlia.
*/

$grey: #e5e5e5;
$white: #ffffff;
$black: #000008;

.landingPage {

  /* Writing Caption */
  #writingCaption {
    min-height:100%;
    background-size:cover;
    background:url(https://res.cloudinary.com/allebd/image/upload/v1567024807/dahlia/Rectangle_4.png) rgba(0,0,0,0.3);
    background-blend-mode: overlay;
    width: 100%;
    text-align: center;
    color: $white;
    padding: 45px;

    p {
      font-size: 42px;
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  /* Membership Sections */
  #membership {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "membership-title"
                            "membership-box";
    background: $grey;
    align-self: center;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5%;

    h2 {
      grid-area: membership-title;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 36px;
    }

    h4 {
      margin: 0;
      text-transform: uppercase;
      font-size: 24px;
      padding: 10px 0;
      border-bottom: 1px solid $white;
    }

    .membershipButton {
      height: 50px;
      cursor: pointer;

      p {
        margin: 0;
        cursor: pointer;
        padding-top: 15px;
      }
    }

    .subscribeMembership h4 {
      border-bottom: 1px solid $black;
    }
  }

  #membership ul, #membership li {
    padding: 5px;
  }

  .membershipBox {
    grid-area: membership-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 550px;
    justify-self: center;
  }

  .freeMembership {
    border: 1px solid $black;
    background: $white;
  }

  .freeMembership div:first-child {
    height: 300px;
    background: $black;
    color: $white;
  }

  .freeMembership div:first-child ul {
    margin-top: 65px;
  }

  .freeMembership button, .subscribeMembership button {
    border: 0;
    background: #00000000;
    cursor: pointer;
  }

  .subscribeMembership {
    background: #eeeeee;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.25);
  }

  .subscribeMembership div:first-child {
    height: 300px;
    background: $white;
  }

  .subscribeMembership div:first-child ul {
    margin-top: 30px;
  }

  /* buttons */
  button.btnLarge {
    color: $white;
    border: 2px solid $white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
  }

  button.btnMedium {
    color: $black;
    border: 2px solid $black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
  }

  @media(max-width: 900px){
    #writingCaption p {
      padding-left: 0;
      padding-right: 0;
    }

    .membershipBox {
      width: 400px;
    }
  }

  @media(max-width: 500px){
    .membershipBox {
      grid-template-columns: 1fr;
      grid-gap: 40px;
      width: 300px;
    }
  }
}
