$color-white: #ffffff;
$color-black: #000008;

.navSection {
  .navbar-fixed {
    position: fixed;
  }

  .unauthenticated-nav {
    background-color: #00000000;
    box-shadow: 0 0 0 0;
    width: 100vw;
    height: 85px;
    transition: height 1s;

    .nav-btn{
      padding: 0.3rem 2.5rem;
      line-height: 1.5;
      border: 1px solid $color-white;
    }
  
    .nav-btn, .nav-link {
      color: #ffffff !important;
      background-color: transparent !important;
      cursor: pointer;
    }
  
    .nav-link {
      margin-right: 25px;
      border: none;
    }
  }

  .logo {
    width: 285px;
    transition: width 1s;
    vertical-align: middle;
  }

  .nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 2rem;
  }

  nav .sidenav-trigger {
    margin: 0px;
  }

  .font-icon {
    width: 30px;
    vertical-align: middle;
  }

  .authenticated-nav {
    background-color: $color-white;
    color: $color-black;
    height: 85px;
    transition: height 1s;

    .nav-wrapper {
      justify-content: space-between;
    }

    .right li{
      padding-left: 1.5rem;
      cursor: pointer;
      line-height: 1.5;
      display: flex;
      align-items: center;

      a {
        color: $color-black;
        font-size: inherit;
      }
    }

    ul a:hover {
      background-color: #eeeeee;
    }

    .greeting {
      margin: 0 1rem;
    }
    
    .dropdown-content {
      top: -2rem;
    }

    .nav-btn {
      background-color: $color-white;
      color: $color-black;
      border: 1px solid $color-black;
    }

  }

  ul.sidenav {
    padding: 0 1.5rem;
    
    li:not(:last-child) {
      border-bottom: 1px solid $color-black;
    }

    li button {
      padding-left: 20px !important;
    }
  }

  .unauthenticated-nav + .sidenav .nav-link, .unauthenticated-nav + .sidenav .nav-btn {
    display: block;
    padding: 1rem 0rem;
  }

  .unauthenticated-nav + .sidenav .nav-link, .unauthenticated-nav + .sidenav .nav-btn:hover {
    background-color: #ffffff;
    border: transparent;
  }

  .change-nav {
    height: 60px;
    transition: height 1s;

    .logo {
      width: 200px;
      transition: width 1s;
    }
  }

  nav .sidenav-trigger {
    -webkit-appearance: unset;
  }

  .nav-black {
    background-color: $color-black;
    color: $color-white;
  }

  .nav-white {
    background-color: $color-white;
    color: $color-black;
  }

  div.notification img {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 600px) {
 .navSection {
    .authenticated-nav, .unauthenticated-nav {
      
      .nav-wrapper {
        justify-content: space-between;
        padding: 0rem 1rem;
      }
    
      .brand-logo.center{
        width: 200px;

        .logo {
          width: 200px;
        }
      }
    }
   }
}

.confirm-page{
  .greeting {
      display: none !important;
  }

  img:not(.logo){
      display: none !important;
  }

  .btn-small{
    display: none !important;
  }

  @media(max-width: 600px){
    .brand-logo.center{
      width: 200px;
      position: relative;
      left:-19% !important;
    }
  }
}

