/*
 * weeklyNovel.scss 
 * 
 * Dahlia Frontend - Andela Simulations Challenge ©️ 2019
 * Andela Simulations Challenge ©️ 2019
 * https://github.com/andela/dahlia-ah-frontend
 *
 * SCSS Designed by TeamDahlia.
 */

$background: #e5e5e5;

/* Weekly Novel Section */
#weekNovel {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "weekNovel-title"
                          "weekNovel-box";
  background: $background;
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5%;

  h2 {
    grid-area: weekNovel-title;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.weekNovelBox {
  grid-area: weekNovel-box;
  display: grid;
  padding: 20px;
  padding-top: 0;
  grid-template-columns: auto auto;

  .weekNovelImage {
    padding: 20px;
    
    img {
    width: 300px;
    height: 300px;
  }
  }

  .weekNovelDescription {
    text-align: left;
    padding: 20px;
  }
}

button.btnMedium {
  color: #000000;
  border: 2px solid #000000;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0)
}

@media(max-width: 900px){
  .weekNovelBox {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
