.start-writing {
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem;
  text-align: center;

  h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0.5rem;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    margin: 0px;
  }

  .start-writing-btn {
    border: 1px solid #ffffff;
    padding: 1rem;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    margin: 1.5rem auto;
    display: block;
    width: 178px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
}