
    ._novel{
        display: flex;
        width: 309px;
        height:158px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid #dbd9d7;

        .book-title{
            padding-top: 5px; 
            padding-bottom: 0;
            margin:0;
        }

        .novel-info{
            width: 193px;
        }

        .book-author, .book-title{
            margin-left: 20.5px;
            margin-top:0; 
        }

        .stats, .book-author{
            color:#7d7a78;
        }

        img{
            width: 116px;
            height: 157px;
        }

        .description, .stats, .book-author{
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            text-align: start;
        }

        .stats{
            margin-top: 6px;
            margin-left: 20.5px;
            span{
                margin-right:6px;
            }
        }

        .description{
            margin: 15px auto;
            width: 150px;
        }
    }
    
