.settings-item {
  .settings-action {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .toggle-btn {
      border: 1px solid black;
    }
    span {
      padding: 3px 10px;
      display: inline-block;
      font-size: 11px;
      cursor: pointer
    }
    .selected {
      background: black;
      color: white;
    }
  }
}