.text-input {
  margin-bottom: 20px !important;
}

.text-input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.9) !important;
}

.validation-error {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #f80303;
}
