.reset-password-form {
    
    .validation-error {
        font-style: normal;
        font-weight: normal;
        margin: 0;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #f80303;
    }

    .loader {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
    }
    
    .ajax-button, .ajax-button:hover, .ajax-button:focus  {
        color: rgba(0, 0, 0, 0.9);
        background: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.9);
        border-radius: 0;
        margin-top: 10px;
        padding: 0 30px;
        box-shadow: none;
      };
    
}  
   