/*
* app.scss 
* 
* Dahlia Frontend - Andela Simulations Challenge ©️ 2019
* Andela Simulations Challenge ©️ 2019
* https://github.com/andela/dahlia-ah-frontend
*
* SCSS Designed by TeamDahlia.
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu::300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i&display=swap');

/*border box allows us to add padding and border to our elements without increasing their size */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Globals */
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 'Ubuntu', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

.sidenav-overlay {
  z-index: 2 !important;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

.components {
  min-height: calc(100vh - 230px);
}
