$color-new: #2196f3;
$color-black: #000000;

body{
  font-family: 'Ubuntu', sans-serif;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.app {
  color: $color-black;
  text-align: center;
  .sassyDiv {
    font-size: 3rem;
    color: $color-new;
  }
}