.inputBox{
    position: relative;
    margin-bottom:10px;

    input[type=text] {
        font-size: 16px;
        text-align: left;
    }
    
    input[type=password] {
        font-size: 16px;
        text-align: left;
    }
    
    input[type=text]:focus,
    input[type=password]:focus 
    {
        border-bottom: 1px solid rgba(0, 0, 0, 0.9) !important;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.9) !important;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        pointer-events: none;
        padding: 10px 0;
        transition: .3s;
    }
    
    input[type=text]:focus ~ label,
    input[type=text]:valid ~ label,
    input[type=password]:focus ~ label,
    input[type=password]:valid ~ label
    {
        top:-18px;
        color: #C4C4C4 !important;
        font-size: 12px;
    }
    span {
        display: block;
        color: red;
        font-size: 10px;
        text-align: left !important;
    }
}

@media screen and (max-width: 420px) and (min-width: 300px) {
    .inputBox{
        margin-bottom:10px;
        input[type=text] {
            font-size: 14px
        }
        input[type=password] {
            font-size: 14px;
        }
        label{
            font-size: 14px;
        }
    }
  }