.login {
    .small-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        a {
            color: #2D9CDB;
            }
        }
        .auth-btn {
            text-transform: capitalize;
            padding: 0 2px;
            color: #2d9cdb;
            vertical-align: baseline;
        }

        .btn-flat:focus {
            background-color:#fafafa 
        }
    
        @media screen and (max-width: 330px) {
            .small-text {
                font-size: 12px;
            }
          }
}
