/*
* novelOfTheWeek.scss 
* 
* Dahlia Frontend - Andela Simulations Challenge ©️ 2019
* Andela Simulations Challenge ©️ 2019
* https://github.com/andela/dahlia-ah-frontend
*
* SCSS Designed by TeamDahlia.
*/

$grey: #e5e5e5;
$white: #ffffff;
$black: #000008;

/* Novel of the Week Section */
#weekNovel {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "weekNovel-title"
                          "weekNovel-box";
  background: $grey;
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5%;

  h2 {
    grid-area: weekNovel-title;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.weekNovelBox {
  grid-area: weekNovel-box;
  display: grid;
  padding: 20px;
  padding-top: 0;
  grid-template-columns: 1fr;

  .weekNovelImage {
    padding: 20px;
    
    img {
      width: 700px;
      height: auto;
      object-fit: cover;
    }
  }

  .weekNovelDescription {
    text-align: justify;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    
    h3 {
      font-size: 1.17em;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

@media(max-width: 900px){
  .weekNovelBox {
    text-align: center;

    .weekNovelDescription {
      padding: 20px;
      width: 100%;
    }
  }
}

@media(max-width: 400px){
  .weekNovelBox {
    .weekNovelImage {
      img {
        width: 230px;
        height: 230px;
      }
    }
  }
}
