.genre-scroll {
  width: 100%;
  overflow-x: scroll;
  height: 14vh;
  display: flex;
  align-items: center;
  padding-left: 2rem;

  .genre {
    min-width: 114px;
    height: 51px;
    transition: height 0.5s;
    border-radius: 4px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 1.5rem;
    padding: 0rem 1rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    text-shadow: 0.3px 0.3px #000000;
  }

  .genre:hover {
    height: 70px;
    transition: height 0.5s;
  }

}